{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
#!/bin/sh
set -eufo pipefail

{{ $packages := list
     "curl"
     "sudo"
     "tmux"
     "unzip" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ end -}}
